<%= search_form_for @q do |f| %>
  <div>
    <%= f.label :login_cont %>
    <%= f.text_field :login_cont, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :email_cont %>
    <%= f.text_field :email_cont, class: 'form-control', include_blank: true %>
  </div>
  <div>
    <%= f.label :role %>
    <%= f.collection_select :roles_id_eq, Role.all, "id", "name", { include_blank: true }, { class: 'form-control' }%>
  </div>

  <%#= f.label :authentication_provider %>
  <%#= f.collection_select :provider_id_eq, ['Facebook', 'Email'], { class: 'form-control' }%>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<%end%>