<tr>
  <td><%= link_to(( h user.login), user_path(user.id))  -%></td>
  <% if admin_authorized? %>
    <td><%=h user.email -%></td>
    <td><%= user.enabled ? 'yes' : 'no' -%>&nbsp;
      <% unless user == current_user -%>
        <% if user.enabled -%>
          <%= link_to('disable', disable_user_path(user.id), :method => :put) -%>
        <% else -%>
          <%= link_to('enable', enable_user_path(user.id), :method => :put) -%>
        <% end -%>

      <% end -%>
    </td>
    <td>
      <span href="#" rel="tooltip" data-placement="bottom" title="<%= user.roles.map(&:name).to_sentence %>">
        <%= pluralize user.roles.length, 'role' -%>
      </span>
      <%= link_to 'edit', user_roles_path(user) -%>
    </td>
  <% end -%>
</tr>
