<tr class="<%= cycle('table0', 'table1') -%>">
  <td><%= link_to(( h user.login), user_path(user.id), :method => :get)  -%></td>
  <% if admin_authorized? %>
    <td><%=h user.email -%></td>
    <td><%= user.enabled ? 'yes' : 'no' -%>&nbsp;
      <% unless user == current_user -%>
        <% if user.enabled -%>
          <%= link_to('disable', disable_user_path(user.id), :method => :put) -%>
        <% else -%>
          <%= link_to('enable', enable_user_path(user.id), :method => :put) -%>
        <% end -%>

      <% end -%>
    </td>
    <td>
      <span href="#" rel="tooltip" data-placement="bottom" title=" <% user.roles.each do |role, index| %> <%= role.name + (user.roles.index(role) < user.roles.length-1 ? ', ' : '') -%> <% end %>">
        <%= user.roles.length.to_s + (user.roles.length != 1 ? ' roles' : ' role') -%>
      </span>
      <%= link_to 'edit', user_roles_path(user) -%>
    </td>
  <% end -%>
</tr>
