
<% if admin_authorized? %>
  <%= link_to 'Create User', new_user_invitation_path, class: 'btn btn-primary float-right btn-sm' %>
 <%= form_tag url_for(:controller => "users"), :id=>"searchform",:name=> "searchform", :method => :get do -%>
    User Search
    <select id="field" name="field">
      <%= options_for_select([ ["Name", "login"], ["Email", "email"] ], @field)-%>
    </select>
    for
    <%= text_field_tag 'query', @query -%>
    <input type="submit" value=" Go " class="btn btn-primary btn-xs" />
  <% end -%>
<% end %>
<h2>Users
  <%if @query && @query.length > 0 %>&mdash; Searched for "<%=@query%>"<%end-%>
</h2>

<%= paginate @users %>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <% if admin_authorized? %>
        <th>Email</th>
        <th>Enabled?</th>
        <th>Roles</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "user", :collection => @users %>
  </tbody>
</table>
<%= paginate @users %>
