<% if can?(:update, @user) %>
<div class="float-right">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-light' if can?(:update, @user) %>
  <%= link_to 'Impersonate', mask_user_path(@user), class: 'btn btn-sm btn-light' if can?(:manage, @user) %>
  <% if @user.invitation_accepted_at.blank? && !@user.enabled? %>
  <%= link_to 'Resend Invite',
              resend_invitation_user_path(@user),
              data: { method: :put },
              class: 'btn btn-sm btn-light' %>
  <% end %>
</div>
<% end %>
<h1>
  <%= h @user.name %>
</h1>
<div class="card card-default">
  <div class="card-body">
    <dl>
      <dt>
        Created on
      </dt>
      <dd>
        <%= @user.created_at.to_s(:long) %>
      </dd>
    </dl>
    <%= render 'users/admin_tools', object: @user %>
  </div>
</div>

