<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title -%> HistoryForge</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <% if Rails.env.production? %><link rel="manifest" href="/site.webmanifest"><% end %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" integrity="sha512-TfnGOYsHIBHwx3Yg6u6jCWhqz79osu5accjEmw8KYID9zfWChaGyjDCmJIdy9fJjpvl9zXxZamkLam0kc5p/YQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <% if can?(:update, Cms::Page) %>
      <%= stylesheet_pack_tag 'cms' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css", 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/theme/darcula.min.css" />
    <% end %>

    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>
  <body>
    <% if @onload -%>
      <%= javascript_tag "document.body.onload=\"#{@onload}\"" %>
    <%end%>
    <%= render 'shared/header' %>
    <% if @full_layout %>
      <%== yield %>
    <% else %>
      <div class="container<%= @full_layout ? '-fluid' : '' %>">

        <%= flash_messages %>

        <% if content_for? :pills %>
          <div class="pills">
            <%= yield :pills %>
          </div>
        <% end %>
        <% if page_title %>
          <h1><%= page_title %></h1>
        <% end %>
        <% if content_for?(:content) %>
          <%= yield :content %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
  <% end %>

  <%= yield :body_end %>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" data-turbolinks-track="true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.7/alertify.min.js" crossorigin="anonymous" data-turbolinks-track="true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js" integrity="sha512-TToQDr91fBeG4RE5RjMl/tqNAo35hSRR4cbIFasiV2AAMQ6yKXXYhdSdEpUcRE6bqsTiB+FPLPls4ZAFMoK5WA==" crossorigin="anonymous" referrerpolicy="no-referrer" data-turbolinks-track="true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" data-turbolinks-track="true"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" type="text/javascript" crossorigin="anonymous" data-turbolinks-track="true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js" type="text/javascript" crossorigin="anonymous" data-turbolinks-track="true"></script>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js" crossorigin="anonymous" data-turbolinks-track="true"></script>
  <%= javascript_pack_tag 'application' %>
  <% if can?(:update, Cms::Page) %>
  <%= javascript_pack_tag 'cms' %>
  <% end %>

  <% if Rails.env.production? && ENV['GOOGLE_ANALYTICS'] %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS'] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= ENV['GOOGLE_ANALYTICS'] %>');
  </script>
  <% end %>
</html>
