<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= form.error_notification %>

  <div class="form-inputs">
    <%= form.input :login,
                required: true,
                autofocus: true,
                label: 'Username',
                hint: 'A unique username, can include spaces.',
                input_html: { autocomplete: "name" } %>
    <%= form.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= form.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= form.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= recaptcha_v3 action: 'registration', site_key: AppConfig[:recaptcha_site_key], callback: 'showSubmitButton' %>
    <%= flash[:recaptcha_error] %>
    <br />
    <%= form.submit 'Sign Up', class: 'btn btn-lg btn-primary', style: 'display:none', id: 'contact-submit-btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
